@use "colors";

.ttt-victories {
  display: flex;
  width: 100%;
  justify-content: center;
  > .ttt-row {
    flex-wrap: wrap;
    width: auto;
    > .ttt-player {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
      > span {
        font-size: 16px;
        color: colors.$light-color;
        text-transform: uppercase;
        margin-right: 8px;
      }
      > svg {
        width: 24px;
        height: 24px;
      }
    }
    > .ttt-percentage {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      > .ttt-value {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: colors.$primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: colors.$dark-color;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
      }
      > span {
        width: 100%;
        display: flex;
        justify-content: center;
        color: colors.$light-color;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ttt-victories {
    > .ttt-row {
      > .ttt-percentage {
        > .ttt-value {
          width: 48px;
          height: 48px;
          font-size: 10px;
        }
      }
    }
  }
}
